main {
  width: 100%;
  height: auto;
  padding: 300px 20px 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-gallery {
  width: 30%;
  height: auto;
  padding: 20px 10px;
  background: rgba(242, 245, 242, 0.723);
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 30px;

  a {
    color: var(--brand-tuscany);
  }

  .title-gallery {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }
}

.image-gallery {
  width: 100%;
  min-height: 92%;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width:730px){
  main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 150px 20px 0;

    .card-gallery {
      width: 100%;
    }
  }
}

@media screen and (min-width: 731px) and (max-width: 1024px) {
  main {
    width: 100%;
    justify-content: space-evenly;
  }

  .card-gallery {
    width: 45%;
  }
}
