@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
:root {
  --brand-white: #fff; 
  --brand-black: #000; 
  --brand-mineral-green: #38514F; 
  --brand-cararra: #E7E6E0; 
  --brand-tuscany: #BA5A31; 
  --brand-firefly: #0A2522;
}
  
* {
  box-sizing: border-box;
}

html {
  font-size: 62,5%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 50px;
  margin-bottom: 40px;
}

header {
  z-index: 100;
  width: 100%;
  padding: 20px 200px;
  position: absolute;

  .brand {
    color: var(--brand-tuscany);
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .brand-container,
  .navigation-items {
    display: flex;
  }

  .navigation-items {
    display: flex;
    list-style: none;

    
    .link {
      position: relative;
      color: var(--brand-white);
      text-decoration: none;
      margin-left: 30px;
      font-size: 20px;
      font-weight: 600;
      transition: 0.4s ease;

      &::before {
        content: '';
        position: absolute;
        background: var(--brand-tuscany);
        width: 0;
        height: 3px;
        bottom: 0;
        left: 0;
        transition: 0.6s ease;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--brand-mineral-green);
  width: 100%;
  height: 100vh;
  font-size: 18px;

  .home {
    padding: 100px 200px;
  }

  .content {
    position: relative;
    z-index: 10;
    color: var(--brand-white);
    width: 70%;
    margin-top: 50px;
    display: none;

    &.active {
      display: block;
    }

    p {
      font-size: 25px;
      margin-bottom: 80px;
      line-height: 1.2;
    }
  }

  .button {
    font-size: 18px;
    font-weight: 500;
    background: var(--brand-cararra);
    color: var(--brand-tuscany);
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 2px;
    text-align: center;
  }

  .media-icons {
    z-index: 880;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 40px;
    transition: 0.5s ease;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.644);

    a {
      color: var(--brand-tuscany);
      font-size: 25px;
      transition: 0.3s ease;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  .home {
    &::before {
      z-index: 1000000;
      content: '';
      position: relative;
      background: rgba(17, 78, 98, 0.179);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .slider-video {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
  }

  .navigation-slider {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;

    .nav-slider-btn {
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
      transition: 0.1s ease-out;

      &.active {
        background: var(--brand-tuscany);
      }
    }
  }

  .slider-video {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }

  .slider-video.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
  }

  .nav-slider-btn:not(:last-child) {
    margin-right: 20px;

    &:hover {
      transform: scale(1.4);
    }
  }
}

@media screen and (max-width: 1040px) {
  body {
    background: rgb(222, 222, 231);
  }

  header {
    padding: 12px 20px;

    .brand {
      font-size: 25px;
    }

    .navigation-list {
      display: none;

      &.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        background: rgba(1, 1, 1, 0.5);
      }
    }

    .navigation-items {
      background: #fff;
      width: 390px;
      max-width: 500px;
      margin: 20px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 20%);

      .navigation_element {
        margin-top: 50px;

        .link {
          color: #040707;
          font-size: 20px;
          font-weight: 500;
          margin: 30px;
          z-index: 2244446;

          &::before {
            background: #222;
            height: 5px;
          }
        }
      }
    }

    .menu-toggle {
      background-image: url(../images/travel/menu-toggle.png);
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      transition: 0.3s ease;
      cursor: pointer;

      &.active {
        z-index: 1000;
        background-image:url(../images/travel/close.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        transition: 0.3s ease;
        width: 50px;
        height: 50px;
      }
    }
  }

  main {
    width: 100%;
    height: 100vh;
    
    .content {
      
      h2 {
        font-size: 25px;
        line-height: 1.2;
      }

      p {
        font-size: 16px;
      }
    }

    .home {
      padding: 100px 20px;
    }

    .media-icons {
      right: 30px;
      top: 553px;
    }
  }

  .second-title {
    color: var(--brand-cararra);
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 150px;
    padding: 10px 10px 5px;
  }

  .article-container {
   


    .credit-picture {
      font-size: 12px;
      color: var(--brand-firefly);
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: var(--brand-tuscany);
      }
    }
  }

  .card {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: var(--brand-cararra);
    padding: 30px 10px;
    border-radius: 1%;

    .bold-text {
      font-weight: 600;
    }

    .discover-image {
      max-width: 500px;
      height: auto;
      border-radius: 1%;
    }

    .icons-discover {
      color: var(--brand-tuscany);
      margin-right: 6px;
    }

    .location-details {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 10px;

    }

  }
} 
