body {
  background-color: var(--brand-mineral-green);
}

main {
  padding: 200px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  background: var(--brand-mineral-green);
  padding-bottom: 50px;

  .article-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .article-container {
   
    .credit-picture {
      font-size: 12px;
      color: var(--brand-firefly);
      margin-bottom: 30px;

      a {
        text-decoration: none;
        color: var(--brand-tuscany);
      }
    }
  }

  .place-name {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.605);
    padding: 60px 96px;
    border-radius: 1%;

    .bold-text {
      font-weight: 600;
    }

    .discover-image {
      width: 100%;
      height: auto;
      border-radius: 1%;
    }

    .icons-discover {
      font-size: 25px;
      color: var(--brand-tuscany);
      margin-right: 15px;
      align-self: baseline;
    }

    .location-details {
      display: flex;
      padding-bottom: 20px;

      p {
        text-align: justify;
      }
    }
  }

  .upcoming {
    display: flex;
    align-self: center;
    background: rgba(255, 255, 255, 0.605);
    border-radius: 4px;
    

    p {
      font-size: 18px;
      font-weight: 600;
      color: var(--brand-tuscany);
      padding: 20px 70px;
    }
  }
}


@media screen and (max-width: 1020px) {

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  padding: 50px 0;

  .article-container {
    padding: 0 20px;
  }

    .card {
      display: flex;
      flex-direction: column;
      justify-items: center;
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 50px;
      background: rgba(255, 255, 255, 0.605);
      padding: 30px 20px;
      border-radius: 1%;

      .discover-image {
        width: 100%;
        height: auto;
        border-radius: 1%;
      }

      .bold-text {
        font-weight: 600;
      }

      .icons-discover {
        color: var(--brand-tuscany);
        margin-right: 6px;
        align-self: baseline;
      }

      .location-details {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 10px;

        p {
          text-align: justify;
        }
      }
    }
  }
} 

@media screen and (min-width:1730px){
  main {
    display: flex;
    align-items: center;

    .article-container {
      width: 70%;
    }
  }
}